# Default ignored files
/.cxx
/.DS_Store
/.gradle
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/externalNativeBuild
/local.properties
*.iml
local.properties

# Project specific ignored files
projeto_ufpa
produto_ufpa.pub